body {font-family: Source Sans Pro; font-weight: lighter;  border: 52px #F8F8F8 solid; margin: 0px; padding: 20px 20px 200px 20px;}
a {text-decoration: none; color: inherit; border-bottom: 1px dotted;}
a:hover, .tool-box.available a:hover, .tool-box a:hover {color: #333; border-color: #333;}
small {font-family: Source Sans Pro; font-weight: 700; font-size: 11px; letter-spacing: .08em; }
h1 {font-size: 68px; color: #0087ff; margin: 30px 0px 20px 0px;}
h4, h5 {font-family: Source Sans Pro; margin: 4px 0px; }
h5 {font-weight: lighter; color: #0087ff; text-transform: uppercase;}
.container {max-width: 870px; margin: 0px auto; overflow: auto; padding: 20px 0px; }

.span1 {width: 48%; float: left; padding-right: 18px; min-width: 350px;}
.span1:last-child {padding-right: 0px; }

.grey {color: #9B9A9A;}

ul.nav {list-style: none; margin: 0px; padding: 0px; font-family: Source Sans Pro; color: #0087ff;}
ul.nav li {display: inline; font-size: 12px; letter-spacing: .1em; text-transform: uppercase; padding-right: 4px;}
ul.nav a {color: #0087ff; border-bottom: 1px dotted #0087ff;}
ul.nav a:hover {font-weight: 900;}

#info, header {padding-right: 10px; padding-left: 10px;}
#info a {color: #333; border-color: #333; font-weight: 500;}
#info a:hover {color: #0087ff; border-color: #0087ff;}
#info p {font-family: Helvetica; font-weight: lighter; font-size: 12px; line-height: 1.5em;}

input:not([type=submit]):not([type=file]):not([type=checkbox]) {margin: 19px 4px; border: none; border-bottom: 1px solid #0087ff; background-color: transparent; padding: 0px; font-family: Source Sans Pro; color: #acacac; font-size: 13px; height: 22px;}

.sml-button {cursor: pointer;padding: 5px 7px; background-color: #0087ff; font-weight: 700; font-size: 12px; text-transform: uppercase; letter-spacing: .1em; text-align: center; color: #fff; font-family: Source Sans Pro;}
.sml-button:hover {opacity: .75;}
.button-pressed {background: #60bd68;}

/* #0087ff blue
   #0087ff; green */

#tools {-webkit-column-count:3; -webkit-column-gap : 16px; -webkit-column-width: 250px;}
.tool-box { background: #E0E0DF; color: #9B9A9A; padding: 12px; margin-bottom: 16px; box-sizing: border-box; -webkit-column-break-inside:avoid; }
.tool-box a {border-color: #9B9A9A;}
.tool-box.available {background: #0087ff; color: #fff;}
.tool-box.available a {border-color: #fff;}
.tool-box:nth-child(1) {margin-top: 0;}
.tool-box-tool { display: block; font-size: 26px; padding: 10px 0; text-align: center; width: 100%; cursor: pointer;}
.tool-box:hover {opacity: .75;}

.tool-box ul {list-style: none; margin: 20px 0px 0px 0px; padding: 0px;}
.tool-box li {margin: 10px 0px;}
.tool-box-borrow {display: block; box-sizing: border-box; position: relative; background: #fff; color: #0087ff; padding: 4px 0px; font-family: Source Sans Pro;
 	letter-spacing: .08em; font-weight: 900; text-align: center; width: 100%; margin: 12px 0px; cursor: pointer; border: 1px solid transparent;}
/*.tool-box-borrow a {color: #0087ff;}
*/.tool-box-borrow:hover { border: 1px solid #fff; color: #fff; background-color: transparent;}

.tool-box-bottom {display: none;}

.selected-tool {opacity: .75;}
.tool-box.selected-tool:hover {}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 1024px) {
	#tools {-webkit-column-count:1; }
}

/*
dark #0087ff
light #60bd68
hover #eee
